<h1>My profile</h1>
<%= form_for current_user, :url => users_update_profile_path do |f| %>
<table class="table">
	<tr>
		<td>Email</td>
		<td><%= current_user.email %></td>
	</tr>
	<tr>
		<td>Posts</td>
		<td><%= current_user.notes.size %></td>
	</tr>
	<tr>
		<td>Comments</td>
		<td><%= current_user.comments.size %></td>
	</tr>
	<tr>
		<td>Avatar</td>
		<td><%= image_tag current_user.avatar.url(:medium) %></td>
	</tr>
	<tr>
		<td>Change avatar</td>
		<td>
			<%= f.file_field :avatar %>
		</td>
	</tr>
	<tr>
		<td>
		</td>
		<td>
			<%= f.submit "Save", {:class => 'btn btn-primary'} %>
		</td>
	</tr>
</table>
<% end %>