<% @notes.each do |note| %>

	<div class="note note-<%= note.id %>">

		<div class="well well-large <% if note.user == current_user %>user-self-note<% end %>">
			
			<blockquote>
			  <p><%= note.content %> </p>
			  <small><%= time_ago_in_words(note.created_at) %> ago  <cite title="Source Title"><%= note.address %></cite></small> 
			</blockquote> 

			<div class="comments" id="note-<%= note.id %>-comments" style="display:none">
				<% for comment in note.comments %>
				<blockquote>
					<%= comment.content %>
				</blockquote>
				<% end %>
			</div> 

			<% unless note.comments.empty? %>
			<a href="#" class="btn pull-left btn-small note-show-comments" data-id="<%= note.id %>">
				<% if note.comments.size > 1 %>
					<%= note.comments.size %> Comments&nbsp; <i class="icon-comment"></i>
				<% else %>
					<%= note.comments.size %> Comment&nbsp; <i class="icon-comment"></i>
				<% end %>
			</a>
			<% end %>

			<div class="btn-group pull-right">

				<% if note.user != current_user %>
				<a class="btn btn-small" href="<%= url_for(messages_post_reply_path(note)) %>">
					<i class="icon-envelope"></i> 
					&nbsp;Priv
				</a>
				<% end %>

			  	<a class="btn btn-small note-modal-show-location" data-lng="<%= note.longitude %>" data-lat="<%= note.latitude %>" href="#">
			  		<i class="icon-eye-open"></i> &nbsp;Map
			  	</a>
			  	
				<% if note.user != current_user %>
			  	<a class="btn btn-small btn-warning note-add-comment" data-id="<%= note.id %>" href="#" >
			  		<i class="icon-share-alt"></i> &nbsp;Comment
			  	</a>
			  	<% end %>

			</div>
			<div class="clearfix"></div>

	    </div>

		<div class="comment-box" id="note-<%= note.id %>-comment-box">
			<% if user_signed_in? %>
			<%= form_for Comment.new do |f| %>
				<input type="hidden" name="comment[note_id]" value="<%= note.id %>" />
				<div class="textarea-container">
					<textarea class="comment-content" name="comment[content]"></textarea>
				</div>
				<%= f.submit "Post", { :class => 'btn btn-small btn-primary pull-right' } %>
				<div class="clearfix"></div>
			<% end %>
			<% else %>
				<p style="padding: 5px 15px; margin:0; font-size:12px;">You have to sign in before posting comments.</p>
			<% end %>
		</div>

	</div><!-- .note -->

<% end %>