
  

  	<%= form_for [:messages , @message ] , :style => "width:98.5%" do |f| %>

		<%= f.hidden_field :receiver_id %>
	<div class="note-content-container">
		<%= f.text_field :title ,:size => "" , :style => "width:98.5%" ,:placeholder=>"Write a title"%>
		<p>
			<%= f.text_area :content , :rows=> "" , :style => "width:98.5%; height:250px;" ,:placeholder=>"Write a note.."%>
		</p>
	</div>

	<div class="note-details-container">
			<div class="note-submit nav pull-right">
				<%= f.submit  "Send" , :class=>"btn btn-success"%>
			</div>
	</div>
	
	<% end %>
	<div class="clearfix"></div>
  


