<div class="navbar navbar-inverse navbar-fixed-top" style="position: static;" id="top-bar">

  <div class="navbar-inner">
    <div class="container">
      
      <a class="brand" href="<%= url_for root_path %>">LocalSpotted</a>
      <ul class="nav pull-left">
        
      


  <% if user_signed_in? %>
        <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-envelope"></i><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><a href="<%= url_for(messages_inbox_path ) %>">Inbox</a></li>
                          <li><a href="<%= url_for(messages_outbox_path ) %>">Outbox</a></li>                          
                        </ul>
                          <% end %>
                        </ul>
  
    
       
        <ul class="nav pull-right">
          
          <% if user_signed_in? %>
              <li>
              <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
              </li>
            <% else %>
              <li>
              <%= link_to('Login', new_user_session_path)  %>  
              </li>
            <% end %>
          
        </ul>
    </div>
  </div><!-- /navbar-inner -->
</div>