<!DOCTYPE html>
<html>
<head>
  <title>LocalS</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render :partial => '/layouts/header' %>
<div class="row-fluid">
  <div class="span3">
    <%= render :partial => '/wall/categories' %>
  </div>
  <div class="span7" id="wall-container">
    <div id="wall">
      <% unless notice.nil? %><p class="notice"><%= notice %></p><% end %>
      <% unless notice.nil? %><p class="alert"><%= alert %></p><% end %>
      <%= yield %>
    </div>
</div>
  <div class="span2">&nbsp;</div>
  <div class="clearfix"></div>
</div>

<script>
	function getLocation()
  	{
  		console.log('f:getLocation')
  		if (navigator.geolocation)
    	{
    		navigator.geolocation.getCurrentPosition(savePosition)
    	}
  	}
	function savePosition(position)
  	{
  		$.ajax({
  			url: "<%= url_for api_save_location_path %>",
  			data: {lat: position.coords.latitude, long: position.coords.longitude }
		}).done(function ( data ) {
  			console.log( data )
		})
  	}
  	$(document).ready( function() {
  		getLocation()
  	})
</script>
</body>
</html>
